html {
  font-size: 62.5%; //rem=16px, 16*0.625=10, rem=10
}

body {
  font-family: "Roboto", sans-serif;
  background: repeating-linear-gradient(
    to right,
    #c7e4d0,
    #c7e4d0 15px,
    #b2dbbf 15px,
    #b2dbbf 30px
  );
  color: white;
  font-size: 1.6rem;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
