// Colors

$header-background: rgba(36, 123, 160, 1);
$background: #70C1B3;
$light-background: #B2DBBF;
$light-white: rgba(243, 255, 189, 1);
$adjusten-white: #FBFFED;

$font-light: rgba(112, 193, 179, 1);

//container sizes
$xl-container-size: 80rem;
$l-container-size: 60rem;
$m-container-size: 45rem;
$s-container-size: 10rem;
$xs-container-size: 5rem;


//spacing
$s-size: 1rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

//font size
$m-font-size: 1.6rem;
$l-font-size: 2.4rem;
$xl-font-size: 3.2rem;

