.header {
  background: $header-background;
  color: white;
  margin-bottom: $xl-size;
  padding: $m-size 0;
  padding-bottom: $s-size;
  display: flex;
  border-bottom: 0.3rem solid darken($header-background, 5%);
}

.header__title {
  //   display: flex;
  //   flex-direction: column;

  font-size: $xl-font-size;
  font-weight: 500;
  margin-left: $l-size;
  color: #f8ff00;
  font-family: "Pacifico";
}

.header__navlink {
  font-size: $l-font-size;
  color: white;
  margin: 0 $l-size;
  margin-bottom: 0;
  padding-bottom: 0;

  cursor: pointer;
  text-decoration: none;
}

.header__navlink:hover {
  color: #f8ff00;
  font-weight: 600;
  text-decoration: none;
}

.header__navlink--is-active {
  color: #f8ff00;
}

.header__filler {
  flex: 2;
}

@media (min-width: 768px) and (max-width: 1000px) {
  .collapse {
    display: none !important;
  }
}
