.notification-container {
  width: $newPost-container-size;
  height: $m-container-size;
  margin: 0 auto;
  padding: $m-size;
  background: white;
  color: black;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  // border-radius: 25px;
  overflow-y: scroll;
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background:red;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: red;
  }
}

.notification-container__message {
  font-size: $m-font-size;
  border-bottom: 0.04rem solid black;
}

.notification-container__post-id {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}
