.notification-container {
  width: $newPost-container-size;
  height: $m-container-size;
  margin: 0 auto;
  padding: $m-size;
  background: white;
  color: black;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  overflow-y: scroll;
}

.notification-container::-webkit-scrollbar {
  display: none;
  //width: 10px;
}

.notification-container__message {
  font-size: $m-font-size;
  border: 1px solid black;
  border-radius: 25px;
  padding-top: $s-size;
  padding-right: $m-size;
  padding-left: $m-size;
  margin-bottom: $s-size;
}

.notification-container__route {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}
.notification-container__route:hover {
  font-style: italic;
}
.notification-container_header {
  text-align: center;
  border-bottom: 0.1rem solid black;
}
.notification-container__created-at {
  font-size: $s-font-size;
}

.collapse {
  display: flex;
  flex-direction: column;
}

.collapse > button {
  align-self: flex-end;
  border-radius: 25px;
}

.notificaions_all {
  transform: translateY(-$l-size);
}

.aws-btn {
  font-size: $m-size;
}
