.notification-container {
  width: $newPost-container-size;
  height: $m-container-size;
  margin: 0 auto;
  padding: $m-size;
  background: white;
  color: black;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  // border-radius: 25px;
  overflow-y: scroll;
}

.notification-container__message {
  font-size: $m-font-size;
  border-bottom: 0.04rem solid black;
}

.notification-container__route {
  cursor: pointer;
  color: blue;
}
.notification-container__route:hover {
  font-style: italic;
}
.notification-container_header {
  text-align: center;
  border-bottom: 0.1rem solid black;
}
.notification-container__created-at {
  font-size: $s-font-size;
}
