.post-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .post-list > button {
    align-self: center;
    margin-bottom: $s-size;
    border-radius: 25px;
    min-width: 5.5rem;
    font-size: $l-size;
    align-items: center;
  }
  
  .post-list > i {
    align-self: center;
    margin-bottom: $s-size;
    border-radius: 25px;
    font-size: $xl-size;
    color: #b88282;
  }
  