.post__container {
  min-height: $m-container-size;
  display: flex;
  flex-direction: column;
  padding-left: $l-size;
  padding-right: $l-size;
  justify-content: space-around;
}
.post__container:hover {
  //-webkit-transform: scale(1.03, 1.03);
  //transform: scale(1.03, 1.03);

  box-shadow: 0 1rem 2rem #343a40;
}

.post__container .carousel-control-next,
.carousel-control-prev {
  opacity: 0;
}

.post__header {
  display: flex;
  flex-direction: column;
}

.post__header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post__title {
  //margin-bottom: $m-size;
  font-size: $l-font-size;
  padding-top: $m-size;
  border-bottom: 1px solid black;
}
.post__title--title {
  padding: $s-size 0;
}
.post__content {
  flex: 2 2 100%;
  flex-direction: column;
  //border-top: 0.3rem solid black;
  img {
    margin: $s-size 0;
    width: $m-container-size;
    height: $m-container-size;
  }
}

.post__text-content {
  padding: $s-size;
  max-height: $m-container-size;
  overflow-y: scroll;
  color: $font-light;
  white-space: pre-line;

  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.post__vote {
  display: flex;
  border-top: 1px solid black;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  padding-bottom: 0rem;
}

.post__vote__option {
  flex: 1 1 100%;
  text-align: center;
  padding: $m-size 0;
}

button {
  border-radius: 25px;
}

.post__newPost {
  min-height: $newPost-container-size;
  display: flex;
  flex-direction: column;
  padding-left: $s-size;
  padding-right: $s-size;
  justify-content: space-around;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  max-height: $s-container-size;
}

.newPostBody {
  display: flex;
  flex-direction: column;
  min-height: 20rem;
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 7rem;
}

.row1 input {
  margin-right: 1rem;
}

.tagBar {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  //justify-content: center;
  padding-left: 1rem;
  scroll-padding-top: 3rem;
  //padding-top: 1rem;
  padding-bottom: 2rem;
  align-items: flex-start;
}

.tagBar::-webkit-scrollbar {
  display: none;
}

.aws-btn {
  --button-default-height: 48px;
  --button-default-font-size: 14px;
  --button-default-border-radius: 25px !important;
  --button-horizontal-padding: 25px;
  --button-raise-level: 2px !important;
  --button-hover-pressure: 1;
  --transform-speed: 0.185s;
  --button-primary-color: #475472;
  --button-primary-color-dark: #2a3143;
  --button-primary-color-light: #d4d9e4;
  --button-primary-color-hover: #424e6a;
  --button-primary-border: none;
  --button-secondary-color: #ffff00;
  --button-secondary-color-dark: #b9b500;
  --button-secondary-color-light: #6c6a00;
  --button-secondary-color-hover: #fffb3e;
  --button-secondary-border: none;
  --button-anchor-color: #f3c8ad;
  --button-anchor-color-dark: #734922;
  --button-anchor-color-light: #4c3016;
  --button-anchor-color-hover: #f1bfa0;
  --button-anchor-border: 1px solid #8c633c;
}

.post__selected--button {
  margin: 100px;
}

.post--img {
  object-fit: contain;
  background: black;
}

.post__follow-button {
  color: #4a9fff !important;
  margin-bottom: $s-size;
  text-transform: uppercase;
  background: #ffffff;
  padding: $s-size;
  border: 0.4rem solid #4a9fff !important;
  border-radius: 0.6rem;
  display: inline-block;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  text-align: center;
  font-size: $m-font-size;
  cursor: pointer;
}

.post__follow-button:hover {
  color: #4a9fff !important;
  border-radius: 50px;
  border-color: #4a9fff !important;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
